<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bigc.uit.quanlytinhnguyen">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logodangnhap"
        android:label="Hoạt Động Tình Nguyện"
        android:roundIcon="@drawable/logodangnhap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="bigc.uit.quanlytinhnguyen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bigc.uit.quanlytinhnguyen.ControlTinhNguyenActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.DangKyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.ChiTietHoatDongActivity"
            android:theme="@style/ThemeChiTiet" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.QuanLyAdminActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.bigc.hoatdongtinhnguyen.ThayDoiMatKhau"
            android:theme="@style/ThemeThayDoiMatKhau" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.bigc.hoatdongtinhnguyen.ChinhSuaThongTinCaNhanActivity"
            android:theme="@style/ThemeChinhSuaThongTinCaNhan" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.InsertTinhNguyenActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.DanhSachTinhNguyenUpdateActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.XuLyUpdateActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.DeleteTinhNguyenActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.XuLyDeleteActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.DanhSachSinhVienThamGiaActivity"
            android:theme="@style/ThemeDanhSachSinhVien" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.DanhSachTruongActivity"
            android:label="Danh Sách Các Trường"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name="bigc.uit.quanlytinhnguyen.ThongTinUngDungActivity"
            android:theme="@style/ThemeAdmin" />
        <activity android:name="bigc.uit.quanlytinhnguyen.XyLyXemTinhNguyenTruongActivity"
            android:theme="@style/ThemeDanhSachSinhVien">

        </activity>
    </application>

</manifest>