<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kerryle.thienan.quanlytinhnguyen">

    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logodangnhap"
        android:label="Hoạt Động Tình Nguyện"
        android:roundIcon="@drawable/logodangnhap"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ControlTinhNguyenActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".DangKyActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ChiTietHoatDongActivity"
            android:theme="@style/ThemeChiTiet" />
        <activity
            android:name=".QuanLyAdminActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name=".kerryle.thienan.ThayDoiMatKhau"
            android:theme="@style/ThemeThayDoiMatKhau" />
        <activity
            android:name=".kerryle.thienan.ChinhSuaThongTinCaNhanActivity"
            android:theme="@style/ThemeChinhSuaThongTinCaNhan" />
        <activity
            android:name=".InsertTinhNguyenActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name=".DanhSachTinhNguyenUpdateActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name=".XuLyUpdateActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name=".DeleteTinhNguyenActivity"
            android:theme="@style/ThemeAdmin" />
        <activity
            android:name=".XuLyDeleteActivity"
            android:theme="@style/ThemeAdmin" />
        <activity android:name=".DanhSachSinhVienThamGiaActivity"
            android:theme="@style/ThemeDanhSachSinhVien"  >

        </activity>
    </application>

</manifest>